<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Problem # {{problemData.id}}</h2>
            <h4>{{problemData.description}}</h4>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <p>{{problemData.details}}</p>
            <br>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <form name="problemForm" ng-submit="processSolution()">
                <div class="solutions-list form-group">
                    <!-- SOLUTION LIST -->
                    <div ng-repeat="solution in problemData.solutions" class="solution-item">
                        <input type="radio" name="solutionsList" id="solution{{$index}}" value="{{$index}}" ng-model="userData.solutionMarked" ng-disabled="userData.userAnswered" ng-required="!userData.solutionMarked" />
                        <label for="solution{{$index}}">{{solution.description}}</label>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-2">
                    <!-- SUBMIT BUTTON -->
                    <button ng-hide="!userData.solutionMarked || userData.userAnswered" type="submit" class="btn btn-block btn-default btn-lg" ng-disabled="problemForm.$invalid">I am sure about this</button>
                </div>
            </form>
            <div class="col-md-4" ng-hide="userData.userAnswered">
                <!-- HINT BUTTON -->
                <button class="btn btn-default btn-block btn-lg" ng-click="showNewHint(hintNumber)">I need a Hint</button>
            </div>
        </div>
    </div>
    <!-- HINTS -->
    <div class="row">
        <div class="col-md-12">
            <div ng-repeat="hint in hintsShown" class="alert alert-info alert-dismissible" role="alert">
                <center>
                    <h2><strong>Hint {{$index}}</strong></h2>
                    <p>{{hint}}</p>
                </center>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!-- SOLUTION EXPLANATION -->
    <div class="row">
        <!-- RESULT -->
        <div class="col-md-12" ng-show="userData.userAnsweredRight && userData.userAnswered">
            <div class="alert alert-success alert-dismissible" role="alert">
                <center>
                    <h2><strong>Nice one!</strong></h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </center>
            </div>
        </div>
        <div class="col-md-12" ng-show="!userData.userAnsweredRight && userData.userAnswered">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <center>
                    <h2><strong>Oh snap!</strong></h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </center>
            </div>
        </div>
        <!-- DETAIL EXPLANATION -->
        <div class="col-md-12" ng-show="userData.userAnswered">
            <h2>Approach #1 (Brute Force) [Accepted]</h2>
            <p>The brute force approach is simple. Loop through each element x and find if there is another value that equals to target - x.</p>
            <pre>
public int[] twoSum(int[] nums, int target) {
    for (int i = 0; i < nums.length; i++) {
        for (int j = i + 1; j < nums.length; j++) {
            if (nums[j] == target - nums[i]) {
                return new int[] { i, j };
            }
        }
    }
    throw new IllegalArgumentException("No two sum solution");
}
            </pre>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><a href=".#/problems">Want to try another?</a></p>
        </div>
    </div>
    <div class="row">
        <!-- SHOW OFF OBJECTS -->
        <br>
        <br>
        <br>
        <h2>Objects</h2>
        <pre>
problemData {{problemData|json}}
userData {{userData | json}}
hintsShown {{hintsShown | json}}
        </pre>
    </div>
</div>
